html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
	color: white;
	background: #333;
	font-family: sans-serif;
	text-shadow: 1px 1px 1px #000;
}

ol, ul {
	list-style: none;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid #000;
  background: #eee;
}

h1 {
  display: block;
  width: 500px;
  margin: 20px auto;
	font-size: 20px;
  color: #ff0;
}


.clearfix:after {
	display: block;
	content: "";
	clear: both;
}

.level-select {
	width: 527px;
	margin: 0 auto;
	background-color: #555;
	border: 1px solid #000;
	border-bottom: 0;
	border-radius: 10px 10px 0 0;
	padding: 7.5px 12.5px;
	padding-bottom: 5px;
	box-sizing: border-box;
}

.level-select > li {
	float: left;
	margin: 2.5px;
}

.level-btn {
	width: 95px;
	height: 30px;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #333;
	border-radius: 5px;
	background-color: #ddd;
}

.level-btn:hover, .level-btn:focus {
	outline: none;
	border-color: #47f;
	background-color: #fff;
}

.level-btn:active {
	background-color: #47f;
}

.current-level {
	background-color: #333;
	color: #fff;
	border-color: #ddd;
}

.current-level:hover, .current-level:focus {
	outline: none;
	background-color: #333;
	border-color: #47f;
}

.level-options {
  width: 527px;
  margin: 0 auto;
	padding: 5px;
	padding-bottom: 7.5px;
	background: #555;
	border: 1px solid #000;
	border-top: 0;
	border-radius: 0 0 10px 10px;
	box-sizing: border-box;
}

.level-options > li {
	float: left;
	margin-right: 10px;
}

.wall-container {
}

.goal-container {
	width: 200px;
	margin: 20px auto;
	padding: 20px;
	text-align: center;
	background: #555;
	border: 1px solid #000;
	border-radius: 10px;
}
